<a href="https://colab.research.google.com/github/xinlei55555/PharmaHacks2023/blob/main/time_anomaly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#reading data

In [ ]:
import pandas as pd

aq_data = pd.read_json("/content/drive/MyDrive/ML/Hackathon (1)/Hackathon/AequitasData.json")
alpha_data = pd.read_json("/content/drive/MyDrive/ML/Hackathon (1)/Hackathon/AlphaData.json")
tsx_data = pd.read_json("/content/drive/MyDrive/ML/Hackathon (1)/Hackathon/TSXData.json")

total_df = pd.concat([aq_data, alpha_data, tsx_data])
total_df

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
0,2023-01-06 09:28:00.013814157,2023-01-06 14:28:00.013814157,NBFToExchange,b8c529be-9283-11ed-ad3c-047c16291a22,NewOrderRequest,0455B,13.02,Aequitas
1,2023-01-06 09:28:00.013890960,2023-01-06 14:28:00.013890960,NBFToExchange,b8c529bf-9283-11ed-a725-047c16291a22,NewOrderRequest,0455B,13.14,Aequitas
2,2023-01-06 09:28:00.014031152,2023-01-06 14:28:00.014031152,NBFToExchange,b8c529c0-9283-11ed-bf41-047c16291a22,CancelRequest,0455B,NaN,Aequitas
3,2023-01-06 09:28:00.014086398,2023-01-06 14:28:00.014086398,NBFToExchange,b8c529c1-9283-11ed-8407-047c16291a22,CancelRequest,0455B,NaN,Aequitas
4,2023-01-06 09:28:00.014213645,2023-01-06 14:28:00.014213645,ExchangeToNBF,b8c529be-9283-11ed-ad3c-047c16291a22,NewOrderAcknowledged,0455B,13.02,Aequitas
...,...,...,...,...,...,...,...,...
212217,2023-01-06 09:31:59.995169747,2023-01-06 14:31:59.995169747,NBFToExchange,b9921f99-9283-11ed-a400-047c16291a22,NewOrderRequest,DC0OC,45.67,TSX
212218,2023-01-06 09:31:59.995210138,2023-01-06 14:31:59.995210138,NBFToExchange,b9921f83-9283-11ed-bcf1-047c16291a22,CancelRequest,DC0OC,NaN,TSX
212219,2023-01-06 09:31:59.995219075,2023-01-06 14:31:59.995219075,ExchangeToNBF,b9921f99-9283-11ed-a400-047c16291a22,NewOrderAcknowledged,DC0OC,45.67,TSX
212220,2023-01-06 09:31:59.995257550,2023-01-06 14:31:59.995257550,ExchangeToNBF,b9921f83-9283-11ed-bcf1-047c16291a22,CancelAcknowledged,DC0OC,NaN,TSX
212221,2023-01-06 09:31:59.995262401,2023-01-06 14:31:59.995262401,ExchangeToNBF,b9921f83-9283-11ed-bcf1-047c16291a22,Cancelled,DC0OC,NaN,TSX

In [ ]:
sample = total_df[total_df["OrderID"]=="b8c529be-9283-11ed-ad3c-047c16291a22"]
sample

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
0,2023-01-06 09:28:00.013814157,2023-01-06 14:28:00.013814157,NBFToExchange,b8c529be-9283-11ed-ad3c-047c16291a22,NewOrderRequest,0455B,13.02,Aequitas
4,2023-01-06 09:28:00.014213645,2023-01-06 14:28:00.014213645,ExchangeToNBF,b8c529be-9283-11ed-ad3c-047c16291a22,NewOrderAcknowledged,0455B,13.02,Aequitas
172,2023-01-06 09:28:00.993798829,2023-01-06 14:28:00.993798829,NBFToExchange,b8c529be-9283-11ed-ad3c-047c16291a22,CancelRequest,0455B,NaN,Aequitas
174,2023-01-06 09:28:00.994174634,2023-01-06 14:28:00.994174634,ExchangeToNBF,b8c529be-9283-11ed-ad3c-047c16291a22,Cancelled,0455B,NaN,Aequitas

In [ ]:
print(type(sample.iloc[0]["TimeStamp"]))
sample.iloc[0]["TimeStamp"].timestamp()-sample.iloc[1]["TimeStamp"].timestamp()

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

-0.0004000663757324219

#preparing new data

In [ ]:
import numpy as np
import datetime

In [ ]:
unique_ids = total_df["OrderID"].drop_duplicates()

req_time = []
cancel_time = []
r_exchanges = []
r_symbols = []
c_exchanges = []
c_symbols = []
o_anomaly_time = []
c_anomaly_time = []
# o_ids = []
# c_ids = []


for i in range(len(unique_ids)):
  id = unique_ids.iloc[i]

  transactions = total_df[total_df["OrderID"]==id]

  o_req = transactions[transactions["MessageType"]=="NewOrderRequest"]
  o_ack = transactions[transactions["MessageType"]=="NewOrderAcknowledged"]
  
  c_req = transactions[transactions["MessageType"]=="CancelRequest"]
  c_ack = transactions[transactions["MessageType"]=="CancelAcknowledged"]
  cancelled = transactions[transactions["MessageType"]=="Cancelled"]

  if (len(o_req)!=0 and len(o_ack)!=0):
    # print(o_ack.iloc[0]["TimeStamp"] == o_ack["TimeStamp"] )
    req_time.append((o_ack.iloc[0]["TimeStamp"].timestamp()-o_req.iloc[0]["TimeStamp"].timestamp())*1000)
    o_anomaly_time.append(np.squeeze(o_req["TimeStamp"].values))
    r_exchanges.append(str(np.squeeze(o_req["Exchange"].values)))
    r_symbols.append(str(np.squeeze(o_req["Symbol"].values)))
  else:
    req_time.append(np.nan)
    o_anomaly_time.append(np.nan)
    r_exchanges.append(np.nan)
    r_symbols.append(np.nan)


  if len(c_req)!=0:
    if len(c_ack)!=0:
      cancel_time.append((c_ack.iloc[0]["TimeStamp"].timestamp()-c_req.iloc[0]["TimeStamp"].timestamp())*1000)
    elif len(cancelled)!=0:
      cancel_time.append((cancelled.iloc[0]["TimeStamp"].timestamp()-c_req.iloc[0]["TimeStamp"].timestamp())*1000)
    else:
      cancel_time.append(np.nan)
    c_anomaly_time.append(np.squeeze(c_req["TimeStamp"].values))
    c_exchanges.append(str(np.squeeze(c_req["Exchange"].values)))
    c_symbols.append(str(np.squeeze(c_req["Symbol"].values)))
  else:
    cancel_time.append(np.nan)
    c_anomaly_time.append(np.nan)
    c_exchanges.append(np.nan)
    c_symbols.append(np.nan)

  # print(np.squeeze(o_req["Exchange"].values))
  # print(o_req["Exchange"])
  # print(o_req)

In [ ]:
#making the new datasets

order = pd.DataFrame()
order["id"] = unique_ids
order["time"] = o_anomaly_time
order["exchange"] = r_exchanges
order["symbol"] = r_symbols
order["time_difference"] = req_time

cancel = pd.DataFrame()
cancel["id"] = unique_ids
cancel["time"] = c_anomaly_time
cancel["exchange"] = c_exchanges
cancel["symbol"] = c_symbols
cancel["time_difference"] = cancel_time

In [ ]:
order = order.dropna()
order

,id,time,exchange,symbol,time_difference
0,b8c529be-9283-11ed-ad3c-047c16291a22,2023-01-06T09:28:00.013814157,Aequitas,0455B,0.400066
1,b8c529bf-9283-11ed-a725-047c16291a22,2023-01-06T09:28:00.013890960,Aequitas,0455B,0.390053
9,b8c529c3-9283-11ed-a276-047c16291a22,2023-01-06T09:28:00.023870827,Aequitas,OFQG6,0.394106
11,b8c529c5-9283-11ed-abe0-047c16291a22,2023-01-06T09:28:00.023991422,Aequitas,OFQG6,0.393867
16,b8c529c6-9283-11ed-b19a-047c16291a22,2023-01-06T09:28:00.032711042,Aequitas,7XHQS,0.408888
...,...,...,...,...,...
212197,b9921f95-9283-11ed-a89c-047c16291a22,2023-01-06T09:31:59.983188549,TSX,3PM7N,0.063181
212203,b9921f96-9283-11ed-a3af-047c16291a22,2023-01-06T09:31:59.985242391,TSX,OOOTO,0.052214
212208,b9921f97-9283-11ed-9d78-047c16291a22,2023-01-06T09:31:59.988659354,TSX,Z5HII,0.054121
212212,b9921f98-9283-11ed-842b-047c16291a22,2023-01-06T09:31:59.988701133,TSX,Z5HII,0.051975
212217,b9921f99-9283-11ed-a400-047c16291a22,2023-01-06T09:31:59.995169747,TSX,DC0OC,0.048876

In [ ]:
cancel = cancel.dropna()
cancel

,id,time,exchange,symbol,time_difference
0,b8c529be-9283-11ed-ad3c-047c16291a22,2023-01-06T09:28:00.993798829,Aequitas,0455B,0.375986
1,b8c529bf-9283-11ed-a725-047c16291a22,2023-01-06T09:29:02.597973368,Aequitas,0455B,0.382900
2,b8c529c0-9283-11ed-bf41-047c16291a22,2023-01-06T09:28:00.014031152,Aequitas,0455B,0.364065
3,b8c529c1-9283-11ed-8407-047c16291a22,2023-01-06T09:28:00.014086398,Aequitas,0455B,0.365019
8,b8c529c2-9283-11ed-9a22-047c16291a22,2023-01-06T09:28:00.023758872,Aequitas,OFQG6,0.369072
...,...,...,...,...,...
212122,b9921f86-9283-11ed-bb1d-047c16291a22,2023-01-06T09:31:59.974771987,TSX,0M3Q9,0.052929
212127,b9921f87-9283-11ed-8f1a-047c16291a22,2023-01-06T09:31:59.975621905,TSX,E4EMY,0.049114
212133,b9921f88-9283-11ed-8886-047c16291a22,2023-01-06T09:31:59.947365862,TSX,0M3Q9,0.047922
212138,b9921f89-9283-11ed-a909-047c16291a22,2023-01-06T09:31:59.948943351,TSX,0M3Q9,0.049114
212177,b9921f91-9283-11ed-a640-047c16291a22,2023-01-06T09:31:59.985225173,TSX,OOOTO,0.054121

In [ ]:
ord_data = order.drop(columns=["time", "id"])
can_data = cancel.drop(columns=["time", "id"])
type(ord_data["symbol"])

pandas.core.series.Series

In [ ]:
ord_data = pd.get_dummies(ord_data, columns=["symbol", "exchange"])
can_data = pd.get_dummies(can_data, columns=["symbol", "exchange"])
ord_data

,time_difference,symbol_0455B,symbol_05VGI,symbol_07FM5,symbol_07PKN,symbol_0M3Q9,symbol_1H2XW,symbol_1K95A,symbol_1NTNT,symbol_215JE,...,symbol_Y18QU,symbol_Y3SCQ,symbol_Z5HII,symbol_Z9T7U,symbol_ZASDH,symbol_ZHOXR,symbol_ZVLDO,exchange_Aequitas,exchange_Alpha,exchange_TSX
0,0.400066,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.390053,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,0.394106,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,0.393867,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,0.408888,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212197,0.063181,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
212203,0.052214,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
212208,0.054121,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
212212,0.051975,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
212217,0.048876,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
ord_data

,time_difference,symbol_0455B,symbol_05VGI,symbol_07FM5,symbol_07PKN,symbol_0M3Q9,symbol_1H2XW,symbol_1K95A,symbol_1NTNT,symbol_215JE,...,symbol_Y18QU,symbol_Y3SCQ,symbol_Z5HII,symbol_Z9T7U,symbol_ZASDH,symbol_ZHOXR,symbol_ZVLDO,exchange_Aequitas,exchange_Alpha,exchange_TSX
0,0.400066,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.390053,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,0.394106,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,0.393867,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,0.408888,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212197,0.063181,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
212203,0.052214,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
212208,0.054121,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
212212,0.051975,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
212217,0.048876,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

#Making the model

In [ ]:
import tensorflow as tf
from tensorflow.keras import layers, losses
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Model
import matplotlib.pyplot as plt

##preparing train and test sets

In [ ]:
data_r = ord_data.drop(columns=["time_difference"])
labels_r = ord_data["time_difference"]

data_c = can_data.drop(columns=["time_difference"])
labels_c = can_data["time_difference"]

# data_c = cancel.iloc[:,:-1].values
# labels_c = cancel.iloc[:,-1].values
# data_c = data_c.drop(subset=["id", "time"])
# data_c = data_c.get_dummies()

In [ ]:
train_data_r, test_data_r, train_labels_r, test_labels_r = train_test_split(data_r, labels_r, test_size = 0.2, random_state = 42)
train_data_c, test_data_c, train_labels_c, test_labels_c = train_test_split(data_c, labels_c, test_size = 0.2, random_state = 42)
train_data_r.shape

(36719, 149)

In [ ]:
# #normalization

# min_r = tf.reduce_min(train_data_r)
# max_r = tf.reduce_max(train_data_r)

# train_data = (train_data_r - min_r)/(max_r - min_r)
# test_data = (test_data_r - min_r)/(max_r - min_r)

# train_data_r = tf.cast(train_data_r, dtype=tf.float32)
# test_data_r = tf.cast(test_data_r, dtype=tf.float32)

# min_c = tf.reduce_min(train_data_c)
# max_c = tf.reduce_max(train_data_c)

# train_data_c = (train_data_c - min_c)/(max_c - min_c)
# test_data_c = (test_data_c - min_c)/(max_c - min_c)

# train_data_c = tf.cast(train_data_c, dtype=tf.float32)
# test_data_c = tf.cast(test_data_c, dtype=tf.float32)

TypeError: ignored

In [ ]:
class detector(Model):
  def __init__(self, x):
    super(detector, self).__init__()
    self.encoder = tf.keras.Sequential([
                                        layers.Dense(10, activation="relu"),
                                        layers.Dense(10, activation='relu')
    ])
    self.decoder = tf.keras.Sequential([
                                        layers.Dense(10, activation='relu'),
                                        layers.Dense(x, activation='sigmoid')
    ])

  def call(self, x):
    encoded = self.encoder(x)
    decoded = self.decoder(encoded)
    return decoded

In [ ]:
autoencoder_r = detector(149)
autoencoder_r.compile(optimizer='adam', loss='mae')
autoencoder_r.fit(train_data_r, train_data_r, epochs = 20, batch_size=512, validation_data=(test_data_r, test_data_r))

Epoch 1/20
72/72 [==============================] - 1s 9ms/step - loss: 0.4736 - val_loss: 0.4045
Epoch 2/20
72/72 [==============================] - 1s 7ms/step - loss: 0.1892 - val_loss: 0.0282
Epoch 3/20
72/72 [==============================] - 0s 7ms/step - loss: 0.0149 - val_loss: 0.0103
Epoch 4/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0093 - val_loss: 0.0088
Epoch 5/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0084 - val_loss: 0.0083
Epoch 6/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0082 - val_loss: 0.0081
Epoch 7/20
72/72 [==============================] - 0s 7ms/step - loss: 0.0080 - val_loss: 0.0081
Epoch 8/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0080 - val_loss: 0.0080
Epoch 9/20
72/72 [==============================] - 0s 7ms/step - loss: 0.0079 - val_loss: 0.0080
Epoch 10/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0079 - val_loss: 0.0080
Epoch 11/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0079 - val_loss: 0.0080
Epoch 12/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0079 - val_loss: 0.0080
Epoch 13/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0079 - val_loss: 0.0079
Epoch 14/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0079 - val_loss: 0.0079
Epoch 15/20
72/72 [==============================] - 0s 7ms/step - loss: 0.0079 - val_loss: 0.0079
Epoch 16/20
72/72 [==============================] - 0s 7ms/step - loss: 0.0079 - val_loss: 0.0079
Epoch 17/20
72/72 [==============================] - 1s 7ms/step - loss: 0.0079 - val_loss: 0.0079
Epoch 18/20
72/72 [==============================] - 1s 7ms/step - loss: 0.0079 - val_loss: 0.0079
Epoch 19/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0079 - val_loss: 0.0079
Epoch 20/20
72/72 [==============================] - 1s 7ms/step - loss: 0.0079 - val_loss: 0.0079

In [ ]:
reconstructed_r = autoencoder_r(train_data_r.get(0))

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs=None. Consider rewriting this model with the Functional API.

AttributeError: ignored

In [ ]:
reconstructed_r = autoencoder_r(train_data_r)
train_loss_r = losses.mae(reconstructed_r, train_data_r)
t_r = np.mean(train_loss_r) + np.std(train_loss_r)
t_r

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs=        symbol_0455B  symbol_05VGI  symbol_07FM5  symbol_07PKN  symbol_0M3Q9  \
39436              0             0             0             0             0
113812             0             0             0             0             0
159808             0             0             0             0             0
94256              0             0             0             0             0
174631             0             0             0             0             0
...              ...           ...           ...           ...           ...
36681              0             0             0             0             0
206376             0             0             0             0             0
173501             0             0             0             0             0
3388               0             0             0             0             0
61602              0             0             0             0             0

        symbol_1H2XW  symbol_1K95A  symbol_1NTNT  symbol_215JE  symbol_2A523  \
39436              0             0             0             0             0
113812             0             0             0             0             0
159808             0             0             0             0             0
94256              0             0             0             0             0
174631             0             0             0             0             0
...              ...           ...           ...           ...           ...
36681              0             0             0             0             0
206376             0             0             0             0             0
173501             1             0             0             0             0
3388               0             0             0             0             0
61602              0             0             0             0             0

        ...  symbol_Y18QU  symbol_Y3SCQ  symbol_Z5HII  symbol_Z9T7U  \
39436   ...             0             0             0             0
113812  ...             0             0             0             0
159808  ...             0             0             0             0
94256   ...             0             0             0             0
174631  ...             0             0             0             0
...     ...           ...           ...           ...           ...
36681   ...             0             0             0             0
206376  ...             0             0             0             0
173501  ...             0             0             0             0
3388    ...             0             0             0             0
61602   ...             0             0             0             0

        symbol_ZASDH  symbol_ZHOXR  symbol_ZVLDO  exchange_Aequitas  \
39436              0             0             0                  0
113812             0             0             0                  0
159808             0             0             0                  0
94256              0             0             0                  0
174631             0             0             0                  0
...              ...           ...           ...                ...
36681              0             0             0                  0
206376             0             0             0                  0
173501             0             0             0                  0
3388               0             0             0                  1
61602              0             0             0                  0

        exchange_Alpha  exchange_TSX
39436                0             1
113812               0             1
159808               0             1
94256                0             1
174631               0             1
...                ...           ...
36681                0             1
206376               0             1
173501               0             1
3388                 0             0
61602                0             1

[36719 rows x 149 columns]. Consider rewriting this model with the Functional API.

AttributeError: ignored

In [ ]:
train_data_c.shape

(36656, 144)

In [ ]:
autoencoder_c = detector(144)
autoencoder_c.compile(optimizer='adam', loss='mae')
autoencoder_c.fit(train_data_c, train_data_c, epochs = 20, batch_size=512, validation_data=(test_data_c, test_data_c))

Epoch 1/20
72/72 [==============================] - 2s 11ms/step - loss: 0.4712 - val_loss: 0.3945
Epoch 2/20
72/72 [==============================] - 0s 6ms/step - loss: 0.1709 - val_loss: 0.0196
Epoch 3/20
72/72 [==============================] - 0s 7ms/step - loss: 0.0122 - val_loss: 0.0098
Epoch 4/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0092 - val_loss: 0.0089
Epoch 5/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0086 - val_loss: 0.0085
Epoch 6/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0084 - val_loss: 0.0083
Epoch 7/20
72/72 [==============================] - 1s 7ms/step - loss: 0.0082 - val_loss: 0.0083
Epoch 8/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0082 - val_loss: 0.0082
Epoch 9/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0082 - val_loss: 0.0082
Epoch 10/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0082 - val_loss: 0.0082
Epoch 11/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0081 - val_loss: 0.0082
Epoch 12/20
72/72 [==============================] - 0s 7ms/step - loss: 0.0081 - val_loss: 0.0082
Epoch 13/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0081 - val_loss: 0.0082
Epoch 14/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0081 - val_loss: 0.0082
Epoch 15/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0081 - val_loss: 0.0082
Epoch 16/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0081 - val_loss: 0.0082
Epoch 17/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0081 - val_loss: 0.0082
Epoch 18/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0081 - val_loss: 0.0082
Epoch 19/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0081 - val_loss: 0.0082
Epoch 20/20
72/72 [==============================] - 0s 6ms/step - loss: 0.0081 - val_loss: 0.0082

In [ ]:
reconstructed_c = autoencoder_c(train_data_c)
train_loss_c = losses.mae(reconstructed_c, train_data_c)
t_c = np.mean(train_loss_c) + np.std(train_loss_c)

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor. Received: inputs=        symbol_0455B  symbol_05VGI  symbol_07FM5  symbol_0M3Q9  symbol_1H2XW  \
118773             0             0             0             0             0
3759               0             0             0             0             0
172613             0             0             0             0             0
39077              0             0             0             0             0
9189               0             0             0             0             0
...              ...           ...           ...           ...           ...
35715              0             0             0             0             0
205987             0             0             0             0             0
172723             0             0             0             0             0
3370               0             0             0             0             0
60210              0             0             0             0             0

        symbol_1K95A  symbol_1NTNT  symbol_215JE  symbol_2A523  symbol_2E1Z7  \
118773             0             0             0             0             0
3759               0             0             0             0             0
172613             0             0             0             0             0
39077              0             0             0             0             0
9189               0             0             0             0             0
...              ...           ...           ...           ...           ...
35715              0             0             0             0             0
205987             0             0             0             0             0
172723             0             0             0             0             0
3370               0             0             0             0             0
60210              0             0             0             0             0

        ...  symbol_Y18QU  symbol_Y3SCQ  symbol_Z5HII  symbol_Z9T7U  \
118773  ...             0             0             0             0
3759    ...             0             0             0             0
172613  ...             0             0             0             0
39077   ...             0             0             0             0
9189    ...             0             0             0             0
...     ...           ...           ...           ...           ...
35715   ...             0             0             0             0
205987  ...             0             0             0             0
172723  ...             0             0             1             0
3370    ...             0             0             0             0
60210   ...             0             1             0             0

        symbol_ZASDH  symbol_ZHOXR  symbol_ZVLDO  exchange_Aequitas  \
118773             0             0             0                  0
3759               0             0             0                  1
172613             0             0             0                  0
39077              0             0             0                  0
9189               0             0             0                  1
...              ...           ...           ...                ...
35715              0             0             0                  0
205987             0             0             0                  0
172723             0             0             0                  0
3370               0             0             0                  1
60210              0             0             0                  0

        exchange_Alpha  exchange_TSX
118773               0             1
3759                 0             0
172613               0             1
39077                0             1
9189                 0             0
...                ...           ...
35715                0             1
205987               0             1
172723               0             1
3370                 0             0
60210                0             1

[36656 rows x 144 columns]. Consider rewriting this model with the Functional API.

AttributeError: ignored

In [ ]:
def prediction(model, data, threshold):
  rec = model(data)
  loss = losses.mae(rec, data)
  return tf.math.less(loss, threshold)

In [ ]:
pred_r = prediction(autoencoder_r, test_data_r, t_r)
print(pred)

NameError: ignored

In [ ]:
!pip install pyod

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyod
  Downloading pyod-1.0.7.tar.gz (147 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.7/147.7 KB 8.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from pyod) (1.2.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from pyod) (3.2.2)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.8/dist-packages (from pyod) (1.21.6)
Requirement already satisfied: numba>=0.51 in /usr/local/lib/python3.8/dist-packages (from pyod) (0.56.4)
Requirement already satisfied: scipy>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from pyod) (1.7.3)
Requirement already satisfied: scikit_learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from pyod) (1.0.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from pyod) (1.15.0)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.8/dist-packages (from pyod) (0.12.2)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba>=0.51->pyod) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba>=0.51->pyod) (57.4.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba>=0.51->pyod) (6.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit_learn>=0.20.0->pyod) (3.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pyod) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pyod) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pyod) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->pyod) (2.8.2)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels->pyod) (0.5.3)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.8/dist-packages (from statsmodels->pyod) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.21->statsmodels->pyod) (2022.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba>=0.51->pyod) (3.11.0)
Building wheels for collected packages: pyod
  Building wheel for pyod (setup.py) ... done
  Created wheel for pyod: filename=pyod-1.0.7-py3-none-any.whl size=181101 sha256=778a14d746c65e01537e514060ef6f80fe1f9f5abc6003f50266e94ed775c523
  Stored in directory: /root/.cache/pip/wheels/f7/e2/c1/1c7fd8b261e72411f6509afb429c84532e40ddcd96074473f4
Successfully built pyod
Installing collected packages: pyod
Successfully installed pyod-1.0.7

In [ ]:
from pyod.utils.data import generate_data

In [ ]:
from pyod.models.auto_encoder import AutoEncoder
atcdr_r = AutoEncoder(contamination=0.05, hidden_neurons =[2, 2])
atcdr_r.fit(train_data_r)

Model: "sequential_23"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_47 (Dense)            (None, 149)               22350

 dropout_4 (Dropout)         (None, 149)               0

 dense_48 (Dense)            (None, 149)               22350

 dropout_5 (Dropout)         (None, 149)               0

 dense_49 (Dense)            (None, 2)                 300

 dropout_6 (Dropout)         (None, 2)                 0

 dense_50 (Dense)            (None, 2)                 6

 dropout_7 (Dropout)         (None, 2)                 0

 dense_51 (Dense)            (None, 149)               447

=================================================================
Total params: 45,453
Trainable params: 45,453
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/100
1033/1033 [==============================] - 6s 5ms/step - loss: 5.9246 - val_loss: 6.5313
Epoch 2/100
1033/1033 [==============================] - 5s 4ms/step - loss: 2.8124 - val_loss: 4.6471
Epoch 3/100
1033/1033 [==============================] - 5s 5ms/step - loss: 2.0578 - val_loss: 3.6504
Epoch 4/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.6906 - val_loss: 2.7465
Epoch 5/100
1033/1033 [==============================] - 6s 5ms/step - loss: 1.4272 - val_loss: 2.1375
Epoch 6/100
1033/1033 [==============================] - 6s 6ms/step - loss: 1.2664 - val_loss: 1.7509
Epoch 7/100
1033/1033 [==============================] - 5s 4ms/step - loss: 1.1637 - val_loss: 1.4742
Epoch 8/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0946 - val_loss: 1.2901
Epoch 9/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0537 - val_loss: 1.1879
Epoch 10/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0287 - val_loss: 1.1083
Epoch 11/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0142 - val_loss: 1.0571
Epoch 12/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0058 - val_loss: 1.0315
Epoch 13/100
1033/1033 [==============================] - 4s 4ms/step - loss: 1.0019 - val_loss: 1.0170
Epoch 14/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9997 - val_loss: 1.0140
Epoch 15/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9991 - val_loss: 1.0133
Epoch 16/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9989 - val_loss: 1.0132
Epoch 17/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9988 - val_loss: 1.0131
Epoch 18/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9987 - val_loss: 1.0130
Epoch 19/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9987 - val_loss: 1.0130
Epoch 20/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0130
Epoch 21/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0130
Epoch 22/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 23/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 24/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 25/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 26/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 27/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 28/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 29/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 30/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 31/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 32/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 33/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 34/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 35/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 36/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 37/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 38/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 39/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 40/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 41/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 42/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 43/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 44/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 45/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 46/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 47/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 48/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 49/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 50/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 51/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 52/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 53/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 54/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 55/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 56/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 57/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 58/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 59/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 60/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 61/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 62/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 63/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 64/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 65/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 66/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 67/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 68/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 69/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 70/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 71/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 72/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 73/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 74/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 75/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 76/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 77/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 78/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 79/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 80/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 81/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 82/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 83/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 84/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 85/100
1033/1033 [==============================] - 5s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 86/100
1033/1033 [==============================] - 5s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 87/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 88/100
1033/1033 [==============================] - 5s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 89/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 90/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 91/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 92/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 93/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 94/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 95/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 96/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 97/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 98/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 99/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
Epoch 100/100
1033/1033 [==============================] - 4s 4ms/step - loss: 0.9986 - val_loss: 1.0129
1148/1148 [==============================] - 2s 2ms/step

AutoEncoder(batch_size=32, contamination=0.05, dropout_rate=0.2, epochs=100,
      hidden_activation='relu', hidden_neurons=[2, 2], l2_regularizer=0.1,
      loss=<function mean_squared_error at 0x7f882362f5e0>,
      optimizer='adam', output_activation='sigmoid', preprocessing=True,
      random_state=None, validation_size=0.1, verbose=1)

In [ ]:
# Training data
y_train_scores_r = atcdr_r.decision_function(train_data_r)
y_train_pred_r = atcdr_r.predict(train_data_r)

# Test data
y_test_scores_r = atcdr_r.decision_function(test_data_r)
y_test_pred = atcdr_r.predict(test_data_r) # outlier labels (0 or 1)

In [ ]:
atcdr_r = AutoEncoder(contamination=0.05, hidden_neurons =[2, 2])
atcdr_r.fit(train_data_r)